# SQL ASSIGNMENT 6

Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

SELECT * FROM Worker WHERE hire_date in between "01-02-2014" and "28-02-2014"

Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

SELECT id, name, email 
FROM users u, users u2
WHERE u.name = u2.name AND u.email = u2.email and u.id=u2.id

Q-3. How to remove duplicate rows from Employees table.

<pre>
DELETE FROM users
WHERE id IN (
    SELECT id, name, email
    FROM users u, users u2
    WHERE u.name = u2.name AND u.email = u2.email AND u.id = u2.id
)