# SQL ASSIGNMENT 10

Q-1. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

SELECT DISTINCT current_salary FROM Salary_History ORDER BY current_salary DESC OFFSET 4 ROWS FETCH NEXT 1 ROWS ONLY

Q-2. Write an SQL query to fetch the list of employees with the same salary.

SELECT EMI1.EMP_NAME FROM EMPLOYEES EMP1 JOIN EMPLOYEES EMP2 ON EMP1.EMP_ID <> EMP2.EMP_ID AND EMP1.SALARY = EMP2.SALARY