# SQL ASSIGNMENT 1

Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as

Ans: SELECT FIRST_NAME AS WORKER_NAME FROM FROM Worker;

Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

Ans: SELECT DISTINCT DEPARTMENT FROM Worker;

Q-3. Write an SQL query to show the last 5 record from a table.

Ans: GET ROW COUNT FIRST, N= SELECT COUNT(*) FROM TABLE;

SELECT * FROM TABLE LIMIT 5 OFFSET N-1;