# SQL ASSIGNMENT 9

Q-1. Write an SQL query to show the top n (say 10) records of a table.

SELECT TOP 10 * FROM users

Q-2. Write an SQL query to determine the nth (say n=5) highest salary from a table.

(offset should be n-1)

SELECT DISTINCT current_salary FROM Salary_History ORDER BY current_salary DESC OFFSET 4 ROWS FETCH NEXT 1 ROWS ONLY